<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>修改密码</h3>
    <a href={% url 'templates:center' %}>个人中心</a>
  {{ changepasswordform.errors }}
<form action="" method="post">
    {% csrf_token %}
    <p><label for="id_old_password">old_password:</label>
        <input type="password" name="old_password" autofocus required id="id_old_password">
    </p>
<p>
    <label for="id_new_password1">new_password:</label>
    <input type="password" name="new_password1" required id="id_new_password1">
</p>
<p>
    <label for="id_new_password2">new_password again:</label>
    <input type="password" name="new_password2" required id="id_new_password2">
</p>
    <button type="submit">提交</button>
</form>

</body>
<script type="text/javascript" src="../static/js/home.js"></script>
</html>